extends ../layouts/master.pug
include ../mixins/tabs.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1 
        span All available subscriptions
        span.context Edit the email updates you get from us

  section.section--wide
    .container
      .input-group__extended
        +tabs('all')
      .flex
        .flex--1-4.categories
          h2 Categories
          ul.list--pipe
            li.active
              a(href='#newsletters') Newsletters
            li
              a(href='#committees') Committee updates
            li
              a(href='#bills') Bill updates
        .flex--3-4
          h2#newsletters Newsletters

          if TOPICS.length
            form(action='', method='post')
              .input-wrapper
                fieldset
                  ol.list--block
                    each val in TOPICS
                      li
                        .input-group__verbose
                          input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                          label(for=val.id)= val.title
                        p 
                          | Description text for 
                          =val.title
                button(class="btn--primary" type="submit") Save changes

          else
            .status--highlight
              p There are no email subscriptions available.

          form(action='', method='post')
            h2#committees Committee updates

            if TOPICS.length
              form(action='', method='post')
                .input-wrapper
                  fieldset
                    ol.list--block
                      each val in TOPICS
                        li
                          .input-group__verbose
                            input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                            label(for=val.id)= val.title
                          p 
                            | Description text for 
                            =val.title
                  button(class="btn--primary" type="submit") Save changes

            else
              .status--highlight
                p There are no email subscriptions available.

          form(action='', method='post')
            h2#bills Bill updates

            if TOPICS.length
              form(action='', method='post')
                .input-wrapper
                  fieldset
                    ol.list--block
                      each val in TOPICS
                        li
                          .input-group__verbose
                            input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                            label(for=val.id)= val.title
                          p 
                            | Description text for 
                            =val.title
                  button(class="btn--primary" type="submit") Save changes

            else
              .status--highlight
                p There are no email subscriptions available.
