extends ../layouts/master.pug
include ../mixins/tabs.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1
        span Email subscriptions
        span.context Choose the email updates you get from us.
  +tabs('subscribed')
  section.section--wide
    .container.flex
      if TOPICS.length
        form(action='', method='post')
          .flex.flex-justify
            h2 Your subscriptions (#{TOPICS.length})
            button(type="submit").btn--primary Unsubscribe
          fieldset
            ol.list--block
              each val in TOPICS
                li
                  .list--details
                    .input-group__verbose
                      if val.aeid
                        input(type='checkbox', value=val.id, name="merge_fields[]", id=val.id)
                      else
                        input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                      label(for=val.id)= val.title
      else
        p You are not subscribed to any emails.
